<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>수정 페이지</h1>
    <form action="/shop/modify" method="POST">
        <table border="1" width="100%">
            <tr>
                <th>id</th>
                <td><input type="hidden" value="<%=car.id %>" name="id"/><%=car.id %></td>
            </tr>
            <tr>
                <th>name</th>
                <td><input type="text" value="<%=car.name %>" name="name"/></td>
            </tr>
            <tr>
                <th>maker</th>
                <td><input type="text" value="<%=car.maker %>" name="maker"/></td>
            </tr>
            <tr>
                <th>price</th>
                <td><input type="text" value="<%=car.price %>" name="price"/></td>
            </tr>
            <tr>
                <th>year</th>
                <td><input type="text" value="<%=car.year %>" name="year"/></td>
            </tr>
            <tr>
                <td colspan="5">
                    <input type="submit" value="수정">
                </td>
            </tr>
        </table>
    </form>
    <a href="/shop">목록</a> |
    <a href="/member/logout">로그아웃</a> |
    <a href="/member/modify/<%=car.id %>">수정</a> |
    <a href="/member/delete/<%=car.id %>">삭제</a> |
    <a href="/">홈</a>
</body>
</html>