<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>상세페이지</h1>
    <table border="1" width="100%">
      <tr>
        <th>id</th>
        <td><%=car.id %></td>
      </tr>
      <tr>
        <th>name</th>
        <td><%=car.name %></td>
      </tr>
      <tr>
        <th>maker</th>
        <td><%=car.maker %></td>
      </tr>
      <tr>
        <th>price</th>
        <td><%=car.price %></td>
      </tr>
      <tr>
        <th>year</th>
        <td><%=car.year %></td>
      </tr>
    </table>

    <a href="/shop/list">목록</a> | <a href="/member/logout">로그아웃</a> |
    <a href="/shop/modify/<%=car.id %>">수정</a> |
    <a href="/shop/delete/<%=car.id %>">삭제</a> |
    <a href="/">홈</a>
  </body>
</html>
